{% load static %}
<div class="col-lg-3">
    <div class="left_sidebar_area">
        <aside class="left_widgets cat_widgets">
            <div class="widgets_inner">
                <ul class="list">
                    <li><a href="{% url 'about_committee:overview' %}">Overview</a></li>
                    <li><a href="{% url 'about_committee:structure' %}">Structure</a></li>
                    <li><a href="{% url 'about_committee:administration' %}">Administration</a></li>
                    <li><a href="{% url 'about_committee:centraloffice' %}">CentralOffice</a></li>
                    <li><a href="{% url 'about_committee:territorialdivisions' %}">TerritorialDivisions</a></li>
                    <li><a href="{% url 'about_committee:ifsatasr' %}">Ifsatasr</a></li>
                    <li><a href="{% url 'about_committee:fightagainstcorruption' %}">FightAgainstCorruption</a></li>
                    <li><a href="{% url 'about_committee:board' %}">Board</a></li>
                    <li><a href="{% url 'about_committee:internationalpartnership' %}">InternationalPartnership</a></li>
                    <li><a href="{% url 'about_committee:statisticalcouncil' %}">StatisticalCouncil</a></li>
                    <li><a href="{% url 'about_committee:publiccouncil' %}">PublicCouncil</a></li>
                    <li><a href="{% url 'about_committee:youngpolicy' %}">YoungPolicy</a></li>
                    <li><a href="{% url 'about_committee:vacancies' %}">Vacancies</a></li>

                </ul>
            </div>
        </aside>
    </div>
</div>