{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <section class="cat_product_area p_120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="latest_product_inner row">
                            <div class="col-lg-12 col-md-8 col-sm-6">
                                <div>
                                    <div class="hot_p_item">
                                        <img class="img-fluid" src="img/foto.jpg" alt="">

                                    </div>
                                </div>
                                <a href="#"><h4>Long Sleeve TShirt</h4></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

{% endblock %}
