{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <section class="cat_product_area p_120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="latest_product_inner row">
                            <div class="col-lg-12 col-md-8 col-sm-6">
                                {% for i in territorialdivisions_list %}

                                    <article class="row blog_item">

                                        <div class="col-lg-6">
                                            <div class="blog_post">
                                                <img src="{{ i.image.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="blog_info ">
                                                <h4>{{ i.region }}</h4>
                                                <h5>{{ i.region_departament }}</h5>
                                                <ul class="blog_meta list">
                                                    <li>
                                                        <a href="#">
                                                            <h6>Head: Abdullayev Abdulla</h6>
                                                            <p> Phone: {{ i.phone }} </p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <h6>First Deputy Head: Abdullayev Abdulla</h6>
                                                            <p> Phone: {{ i.phone }} </p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <h6>Deputy Head: Abdullayev Abdulla</h6>
                                                            <p> Phone: {{ i.phone }} </p>
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><p>Address: {{ i.address }}</p></a>
                                                    <li><a href="#"><p>Email: {{ i.email }}</p></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% include 'layouts/detail.html' %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}