{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <section class="cat_product_area p_120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="latest_product_inner row">
                            <div class="col-lg-12 col-md-8 col-sm-6">
                                {% for i in vacancies_list %}
                                    <h3>{{ i.content }}</h3>
                                    <div id="accordion">
                                        <div class="card ">
                                            <div class="card-header " id="headingOne">
                                                <h3 class="mb-0">
                                                    <button class="btn btn-link c_color" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="false"
                                                            aria-controls="collapseOne">
                                                        Board Structure
                                                    </button>
                                                </h3>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                 data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Ish haqi: {{ i.salary }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card ">
                                            <div class="card-header " id="headingOne">
                                                <h3 class="mb-0">
                                                    <button class="btn btn-link c_color" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="false"
                                                            aria-controls="collapseOne">
                                                        Council Methodology
                                                    </button>
                                                </h3>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                 data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Stavka: {{ i.rate}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                        Board work schedule
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                 data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Qo'shimcha haq: {{ i.extra_charge }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                        Schedule and agenda of discussions
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                 data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Malakaviy talablar: {{ i.qualification_requirements}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                        Contact board members
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                 data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>{{ i.text5 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% include 'layouts/detail.html' %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}
